body, html {
  height: 100%; }

.Hero {
  height: 400px;
  overflow: hidden;
  position: relative; }

.center-hero {
  display: flex;
  align-items: center;
  justify-content: center; }

.center-hero-item {
  font-size: 40px;
  color: white;
  z-index: 100; }

.Hero img {
  position: absolute;
  bottom: 0%;
  max-width: 100%; }

.HomeContainer {
  background-color: #181818;
  height: 100vh; }

.MainContent {
  max-width: 750px;
  padding: 20px 50px;
  margin: 0 auto;
  position: relative; }

.navBar {
  display: flex;
  align-items: center;
  background-color: #41414190; }

.navItem {
  position: relative;
  text-align: center;
  color: #fff;
  font-size: 13px;
  line-height: 40px;
  padding: 0 2rem;
  display: inline-block;
  transition: all .3s ease; }

.navItem:hover {
  background-color: #ff4646; }

.navSelect {
  background-color: #ff4646; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
