//HomePage
body, html{
  height: 100%;
}
.Hero {
  height: 400px;
  overflow: hidden;
  position: relative;
}
.center-hero {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-hero-item {
  font-size: 40px;
  color: white;
  z-index: 100;
}

.Hero img {
  position: absolute;
  bottom: 0%;
  max-width: 100%;
}

.HomeContainer {
  background-color: #181818;
  height: 100vh;
}

.MainContent {
  max-width: 750px;
  padding: 20px 50px;
  margin: 0 auto;
  position: relative;
}

// .App {
//   text-align: center;
// }

// .App-logo {
//   animation: App-logo-spin infinite 20s linear;
//   height: 80px;
// }

// .App-header {
//   background-color: #222;
//   height: 150px;
//   padding: 20px;
//   color: white;
// }

// .App-title {
//   font-size: 1.5em;
// }

// .App-intro {
//   font-size: large;
// }

.navBar {
  display: flex;
  align-items: center;
  background-color: #41414190;  
  // opacity: 0.5;
}
.navItem {
  position: relative;
  // background-color: #414141;
  text-align: center;
  color: #fff;
  font-size: 13px;
  line-height: 40px;
  padding: 0 2rem;
  display: inline-block;
  transition: all .3s ease;
}

.navItem:hover{
  background-color: #ff4646;
}

.navSelect {
  background-color: #ff4646;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
